{
	admin off
	auto_https off
}

:80 {
	encode gzip
	header {
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		Referrer-Policy no-referrer
		Permissions-Policy "camera=(), microphone=(), geolocation=()"
		-Server
	}
	reverse_proxy infodisplay:3000
}
